{{#if group_session_room}}
    <div class="jumbotron">
        <div>
            <h2>
                <div style="margin-bottom: 10px">
                    Room Code: 
                    <strong>{{group_session_room}}</strong>
                </div>
                <div>
                    <a href="/room" class="btn btn-success btn-lg" role="button">
                        Enter VR Experience
                    </a>
                </div>
            </h2>
        </div>
    </div>
{{/if}}
<div id="roomOptionContainer">
    <form action="/joinRoom" method="post">
        <div class="form-group">
            <label>Enter New Room Code to Join:</label>
            <input name="room_id" class="form-control" placeholder="Room Code" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Join New Room</button>
            <a id="createRoom" href="/createRoom" class="btn btn-secondary" role="button">
                Create New Room
            </a>
        </div>
    </form>
</div>

<a href="/createUserRoom" class="btn btn-secondary" role="button">Test Room Session</a>

<style>

#roomOptionContainer{
    margin: auto;
    width: 60%;
    padding: 20px;
    font-size: 1.5em;
}

</style>