<div class="jumbotron">
    <div>
        <h3><label>Upload Your Environments </label></h3>
        <form id="uploadModelForm" action="/uploadModel" enctype="multipart/form-data" method="POST">
            <div class="form-group custom-file file-upload">
                <input name="new_models" type="file" webkitdirectory multiple class="custom-file-input" id="customFile" required />  
                <label class="custom-file-label" for="customFile">Choose a Folder</label>
            </div>
            <div class="form-group">
                <label>New Environment Name (start with alphabet):</label>
                <input id="folderNameInput" type="text" class="form-control" name="folderName" pattern="[A-Za-z][-A-Za-z0-9_:.]*" required/>
            </div>
            <div class="form-group">
                <label>Main HTML Name (Eg: index):</label>
                <input type="text" class="form-control" name="htmlName" pattern="[-A-Za-z0-9_]+" required/>
            </div>
            <div class="form-group">
                <label>Environment Description:</label>
                <input id="envDescription" type="text" class="form-control" name="description" 
                    placeholder="Enter Environment Description" required/>
            </div>
            <div class="form-group">
                <label>Environment Tag (must start with alphabet and not contain any space)</label>
                <input id="envTag" type="text" class="form-control" name="tag" pattern="[A-Za-z][-A-Za-z0-9_:.]*"
                    placeholder="Enter Environment Tag" required/>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
<script>
    // update input placeholder value
    $('#customFile').on('change', (event) => {
        const folderName = event.target.files[0].webkitRelativePath.split("/")[0];
        // replace the "Choose a file" label
        $('.custom-file-label').html(folderName);

        // update folder name field
        document.getElementById("folderNameInput").value = folderName;

    });

    

</script>
<style>
    .file-upload{
        margin-bottom: 15px;
    }
</style>