<div class="jumbotron">
    <div>
        {{#if fileNotUploaded}}
        <h3><label>Step 1: Upload Your 3D Model File </label></h3>
        <form id="uploadModelForm" action="/uploadModel" enctype="multipart/form-data" method="POST">
            <div class="form-group custom-file file-upload">
                <input name="new_model" type="file" class="custom-file-input" id="customFile" />  
                <label class="custom-file-label" for="customFile">Choose a File</label>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        {{else}}
        <h3><label>Step 2: Add File Basic Information </label></h3>
        <form action="/addModelMetadata" method="POST">
            <div class="form-group">
                <label>Environment Description:</label>
                <input id="envDescription" type="text" class="form-control" name="description" 
                    placeholder="Enter Environment Description" required/>
            </div>
            <div class="form-group">
                <label>Environment Tag</label>
                <input id="envTag" type="text" class="form-control" name="tag" 
                    placeholder="Enter Environment Tag" required/>
            </div>
            <button type="submit" class="btn btn-primary">Confirm File Metadata</button>
        </form>
        {{/if}}
    </div>
</div>
<script>
    // update input placeholder value
    $('#customFile').on('change', () => {
        //get the file name
        const fileName = $('#customFile').val().replace('C:\\fakepath\\', "");
        //replace the "Choose a file" label
        $('.custom-file-label').html(fileName);
    });


</script>
<style>
    .file-upload{
        margin-bottom: 15px;
    }
</style>