<div class="user-env-container">
  <h3>Henry Chen's Environment</h3>
  <div class="room-list">
    <div class="room-info">
      <div class="room-header">
        <img src="assets/pikachu.png" class="env-image" >
        <div>Environment Name</div>
      </div>
      <div class="room-metadata">
        <div>HTML Name: <strong>henryEnv.html</strong></div>
        <div>Date Uploaded: <strong>June 17, 2019</strong></div>
        <div>Description: <strong>Henry Description: this is a test for long description :)</strong></div>
        <div>Tags: <strong>Henry, tag</strong></div>
      </div>
      <div class="room-options">
        <button type="button" class="btn btn-primary room-option">Enter</button>
        <button type="button" class="btn btn-success room-option">Edit Environment Info</button>
        <button type="button" class="btn btn-warning room-option">Reupload Environment</button>
      </div>
    </div>


    <div class="room-info">
      <div class="room-header">
        <img src="assets/pikachu.png" class="env-image" >
        <div>Environment Name</div>
      </div>
      <div class="room-metadata">
        <div>HTML Name: <strong>henryEnv.html</strong></div>
        <div>Date Uploaded: <strong>June 17, 2019</strong></div>
        <div>Description: <strong>
            Henry Description: this is a test for long description :)
            Henry Description: this is a test for long description :)
            Henry Description: this is a test for long description :)
            Henry Description: this is a test for long description :)
            Henry Description: this is a test for long description :)
            Henry Description: this is a test for long description :)
            Henry Description: this is a test for long description :)
            Henry Description: this is a test for long description :)
        </strong></div>
        <div>Tags: <strong>Henry, tag</strong></div>
      </div>
      <div class="room-options">
        <button type="button" class="btn btn-primary room-option">Enter</button>
        <button type="button" class="btn btn-success room-option">Edit Environment Info</button>
        <button type="button" class="btn btn-warning room-option">Reupload Environment</button>
      </div>
    </div>

    <div class="room-info">
      <div class="room-header">
        <img src="assets/pikachu.png" class="env-image" >
        <div>Environment Name</div>
      </div>
      <div class="room-metadata">
        <div>HTML Name: <strong>henryEnv.html</strong></div>
        <div>Date Uploaded: <strong>June 17, 2019</strong></div>
        <div>Description: <strong>Henry Description: this is a test for long description :)</strong></div>
        <div>Tags: <strong>Henry, tag</strong></div>
      </div>
      <div class="room-options">
        <button type="button" class="btn btn-primary room-option">Enter</button>
        <button type="button" class="btn btn-success room-option">Edit Environment Info</button>
        <button type="button" class="btn btn-warning room-option">Reupload Environment</button>
      </div>
    </div>

    <div class="room-info">
      <div class="room-header">
        <img src="assets/pikachu.png" class="env-image" >
        <div>Environment Name</div>
      </div>
      <div class="room-metadata">
        <div>HTML Name: <strong>henryEnv.html</strong></div>
        <div>Date Uploaded: <strong>June 17, 2019</strong></div>
        <div>Description: <strong>Henry Description: this is a test for long description :)</strong></div>
        <div>Tags: <strong>Henry, tag</strong></div>
      </div>
      <div class="room-options">
        <button type="button" class="btn btn-primary room-option">Enter</button>
        <button type="button" class="btn btn-success room-option">Edit Environment Info</button>
        <button type="button" class="btn btn-warning room-option">Reupload Environment</button>
      </div>
    </div>
  </div>
</div>

<!--
* environment =>
*  envname: string
*  htmlname: string
*  uploadtime: Date
*  description: string
*  username: string
*  tag: string -->
