<div id='buttons'>
  <button class="btn btn-primary but" onclick="window.location.href = '/vrmanager'">Sell Your WebVR Experience</button>
  <button class="btn btn-primary but" onclick="window.location.href = '/requestvr'">Request WebVR Experience</button>
  <button class="btn btn-primary but" onclick="window.location.href = '/lobby'">Try a Basic Demo</button>
</div>

<style>
  body {
      background: #ffffff url("https://i.imgur.com/gNcdKmB.jpg") no-repeat left top;
      background-size: 100% auto;
  }

  #button1{
      position: relative;
      left: 60%;
      top: 500px;

  }

  #button2{
      position: relative;
      left: 63%;
      top: 500px;
  }

  #button3{
      position: relative;
      left: 40%;
      top: 600px;
  }

  .but{
      margin: 10px;
      font-size: 100%;
      float:right;
  }

  #buttons{
      margin: 32% 0 0 60%;
      width:300px;
  }

</style>
