<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"><{{!}}/script>

<div style="margin: 10px;padding:20px;">
    <div class="enclose">
        <h5><label>Enter Device Code</label></h5>
        <form>
            <div class="form-group">
                <input id="codeInput" type="text" class="form-control" name="code" placeholder="Enter Code" required/>
            </div>
            <button onclick="setCodeCookie()" class="btn btn-primary">Connect</button>
        </form>
    </div>
    <div id="set_menu" class="set_menu" style="visibility: hidden;">
    </div>
</div>
<script>

    function setCodeCookie(){
        var code = document.getElementById("codeInput").value;
        setCookie("headsetRemoteCode", code);
    }

    function setCookie(name,value) {
        var expires = "";
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    
    if(navigator.getVRDisplays) {
      console.log('WebVR 1.1 supported');
      navigator.getVRDisplays().then(function(displays) {
        if(displays.length > 0) {
          alert("is vr")
        }
      });
    }


</script>
<style>
    .file-upload{
        margin-bottom: 15px;
    }

    body {
        background-color:#6b6b6b;
    }

    .enclose{
        border-radius:10px;
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        margin:0 auto;
        margin-top: 40px;
        border: 1px solid #cbcbcb;
        padding: 20px;
        background-color:white;
    }  

    .set_menu{
        border-radius:10px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin:0 auto;
        margin-top: 40px;
        border: 1px solid #cbcbcb;
        padding: 20px;
        background-color:white;
    }  
</style>