<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"><{{!}}/script>

<div style="margin: 10px;padding:20px;" id="home">
    <div class="enclose">
        <h5><label id="remotecode"></label></h5>
        <form>
            <div class="form-group">
                <input id="codeInput" type="text" class="form-control" name="code" placeholder="Enter Device Code" required/>
            </div>
            <button onclick="setCodeCookie()" class="btn btn-primary">Connect</button>
        </form>
        <div id="homes">

        </div>
    </div>
    <div id="set_menu" class="set_menu" style="visibility: hidden;">
    </div>
    <button class="btn btn-primary" style="width:100px;" onclick="clearMessage();">Clear</button><br/>
</div>
<script>

    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function sendMessage(envname,username){
        var remoteCode = getCookie('headsetRemoteCode')
        $.post("/sendHeadsetMessage",
        {
            code: remoteCode,
            username: username,
            house_name: envname
        },
        function(data, status){
            alert("Data: " + data + "\nStatus: " + status);
        });
    };

    function clearMessage(envname,username){
        var remoteCode = getCookie('headsetRemoteCode');
        elements = document.getElementsByClassName("home_div");
        $.post("/deleteHeadsetMessage",{code: remoteCode});
        for (var i = 0; i < elements.length; i++) {
          elements[i].style.borderBottomColor="lightgrey";
          elements[i].style.borderBottomWidth="thin";
        }
    };

    document.addEventListener('DOMContentLoaded', function() {
        // set text to be the code saved from cookie
        if(getCookie('headsetRemoteCode')){
            document.getElementById("remotecode").innerHTML = "Connected to: " + getCookie('headsetRemoteCode');
        }

        // load all the homes into a list
        $.get("/getAllImages", function(data, status){
            var homes = data;

            homes.forEach(home => {
                var envname = home.envname;
                var username = home.username;
                var img = home.thumbnail;

                var div = document.createElement("DIV");
                div.className = 'home_div';
                document.getElementById("home").appendChild(div);

                var btn = document.createElement("IMG");
                btn.src = img;
                btn.width = 300;
                btn.height = 220;
                btn.style = "display: block; cursor: pointer;"
                btn.class = "home_btn"
                div.appendChild(btn);

                var label = document.createElement("h5");
                label.innerHTML= envname;
                label.style = "margin-top: 10px;"
                div.appendChild(label);
                
                btn.addEventListener("click", function(event) {
                  sendMessage(envname,username);
                  event.preventDefault();

                  elements = document.getElementsByClassName("home_div");
                  for (var i = 0; i < elements.length; i++) {
                    elements[i].style.borderBottomColor="lightgrey";
                    elements[i].style.borderBottomWidth="thin";
                  }
                  div.style.borderBottomColor="#007bfe";
                  div.style.borderBottomWidth="medium";


                });
            });
        });

    }, false);

    function setCodeCookie(){
        var code = document.getElementById("codeInput").value;
        setCookie("headsetRemoteCode", code);
    }

    function setCookie(name,value) {
        var expires = "";
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    
    if(navigator.getVRDisplays) {
      navigator.getVRDisplays().then(function(displays) {
        if(displays.length > 0) {
          // if vr display, redirect to VR page
          window.location.href = "vr"
        }
      });
    }


</script>
<style>
    .file-upload{
        margin-bottom: 15px;
    }

    body {
        background-color:#f3f3f3;
    }

    .home_div{
        text-align: justify; 
        float:left; 
        width: 300; 
        margin-right: 20px; 
        margin-top: 20px; 
        padding: 10px; 
        border-style: solid; 
        border-width: thin; 
        border-color:lightgrey; 
        background-color: white;
    }

    .home_div:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }

    .enclose{
        border-radius:10px;
        display: flex;
        flex-wrap: wrap;
        width: 250px;
        margin:0 auto;
        margin-top: 20px;
        border: 1px solid #cbcbcb;
        padding: 20px;
        background-color:white;
    }  

    .set_menu{
        border-radius:10px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin:0 auto;
        margin-top: 40px;
        border: 1px solid #cbcbcb;
        padding: 20px;
        background-color:white;
    }  
</style>