<div class="groupBar">
    <div class="roomOptionWrapper">
        <div class="roomSeparateDivs">                
            <form action="/joinRoom" method="post">
                <div class="form-group" style="width:50%;">
                    {{#if group_session_room}}
                        Room Code: <strong>{{group_session_room}}</strong>
                    {{/if}}
                    <input style="margin-top: 10px;" name="room_id" class="form-control" placeholder="Room Code" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Join Room</button>
                    <a id="createRoom" href="/createRoom" class="btn btn-secondary" role="button">
                        Create New Room
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<style>

.groupBar{
    border: 1px solid #cbcbcb;
    margin: 10px;
    border-radius:10px;
    display: grid;
}

#roomOptionContainer{
    padding: 20px;
    font-size: 1.5em;
}

.roomOptionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.roomSeparateDivs {
    width: 100%;
    border: 0px solid black;
    padding: 20px;
}

.userName {
    color: grey;
}

.envDetail {
    border: 1px solid rgb(49, 49, 49);
    border-radius: 5px;
}

</style>
<script>
    $('.removeButton').click(function() {
        const ownerToRemove = $(this).closest("tr").find('.ownerName').text();
        console.log(ownerToRemove);
        $.post('/deleteRooms', {deletedOwner: ownerToRemove}).then(() => location.reload());
    })
</script>