<div style="margin: 10px;padding:20px;">
    <div class="enclose">
        <h4><label>Request a WebVR Experience</label></h4>
        <form id="uploadModelForm" action="/request_vr_exp" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                <label>Name:</label>
                <input id="folderNameInput" type="text" class="form-control" name="name" pattern="[A-Za-z][-A-Za-z0-9_:.]*" placeholder="Enter your name" required/>
            </div>
            <div class="form-group">
                <label>Email Address:</label>
                <input type="text" class="form-control" name="email" pattern="[-A-Za-z0-9_]+" placeholder="Enter your email" required/>
            </div>
            <div class="form-group">
                <label>Phone Number:</label>
                <input type="Number" class="form-control" name="phone" pattern="[-A-Za-z0-9_]+" placeholder="Enter your phone number (optional)" required/>
            </div>
            <div class="form-group">
                <label>Select a category:</label>
                <select>
                  <option>----</option>
                  <option value="Education">Education</option>
                  <option value="Enterprise_Training">Enterprise Training</option>
                  <option value="Enterprise_Simulation">Enterprise Simulation</option>
                  <option value="Enterprise_Communication">Enterprise Communication</option>
                  <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea id="envDescription" class="form-control" name="description"  required> </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<style>
    .file-upload{
        margin-bottom: 15px;
    }

    body {
        background-color:#6b6b6b;
    }

    .enclose{
        border-radius:10px;
        display: flex;
        flex-wrap: wrap;
        width: 26%;
        margin:0 auto;
        margin-top: 40px;
        border: 1px solid #cbcbcb;
        padding: 20px;
        background-color:white;
    }  
</style>