<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"><{{!}}/script>

<div style="margin: 10px;padding:20px;">
    <div class="enclose">
        <h1><label>Device Code: </label> <label id="devicecode">hi</label></h1>
    </div>
    <div id="set_menu" class="set_menu" style="visibility: hidden;">
    </div>
</div>
<script>

    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function setCookie(name,value) {
        var expires = "";
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    var localCode = getCookie('headsetLocalCode')
    setInterval(function(){ 
        if(localCode){
            $.post("/getHeadsetMessage",
            {
                code: localCode,
            }, function(data, status){
                if(data != null && data != "/tour?username=0&name=0" && window.location.href.includes(data) == false){
                    window.location.href = data;
                }
            });
        }
    }, 5000);
    
    document.addEventListener('DOMContentLoaded', function() {
        if(getCookie('headsetLocalCode')){
            document.getElementById("devicecode").innerHTML = getCookie('headsetLocalCode');
        }
        else{
            var code = Math.floor((Math.random() * 1000000) + 1).toString(24);
            setCookie('headsetLocalCode',code);   
            document.getElementById("devicecode").innerHTML = code;
        }
    }, false);


</script>
<style>

    body {
        background-color:#f3f3f3;
    }

    .enclose{
        display: flex;
        flex-wrap: wrap;
        width: 550px;
        margin:0 auto;
        margin-top: 20px;
        // border: 1px solid #cbcbcb;
        border-bottom: 1px solid #cbcbcb;
        padding: 20px;
        padding-left: 50px;
        background-color: transparent;
    }  
    .set_menu{
        border-radius:10px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin:0 auto;
        margin-top: 40px;
        border: 1px solid #cbcbcb;
        padding: 20px;
        background-color:white;
    }  
</style>