<div class="landing-page-container">
  <div id="vusLandingCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#vusLandingCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#vusLandingCarousel" data-slide-to="1"></li>
      <li data-target="#vusLandingCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="landing-image img1"></div>
        <div class="carousel-caption d-none d-md-block">
          <h4>Education</h4>
          <p>VR will benefit education.</p>
          <div class="landing-options">
            <button class="btn btn-primary" >Sell Your WebVR Experience</button>
            <button class="btn btn-secondary landing-center-opt" >Request WebVR Experience</button>
            <button class="btn btn-success" >Try a Basic Demo</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="landing-image img2"></div>
          <div class="carousel-caption d-none d-md-block">
          <h4>Social Media</h4>
          <p>VR will allow safe, online meeting.</p>
          <div class="landing-options">
            <button class="btn btn-primary" >Sell Your WebVR Experience</button>
            <button class="btn btn-secondary landing-center-opt" >Request WebVR Experience</button>
            <button class="btn btn-success" >Try a Basic Demo</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="landing-image img3"></div>
          <div class="carousel-caption d-none d-md-block">
          <h4>Real Estate Tour</h4>
          <p>VR will benefit real estate tour experience.</p>
          <div class="landing-options">
            <button class="btn btn-primary" >Sell Your WebVR Experience</button>
            <button class="btn btn-secondary landing-center-opt" >Request WebVR Experience</button>
            <button class="btn btn-success" >Try a Basic Demo</button>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#vusLandingCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#vusLandingCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
