<div class="user-group-container">
  <div class="user-group-header">
    <div class="group-id-number">Group ID: &nbsp;<strong>123456</strong></div>
    <form>
      <button type="button" class="btn btn-success header-item">Invite Others</button>
      <mat-form-field class="header-item">
        <input matInput placeholder="New RoomID">
      </mat-form-field>
      <button type="button" class="btn btn-primary header-item">Join Room</button>
      <button type="button" class="btn btn-secondary header-item">Create New Room</button>
    </form>
  </div>
  <div class="user-group-body">
    <div class="group-members group-section">
      <h3>Member List</h3>
      <div class="card-containers">
        <div class="card" style="width: 13rem;">
          <img class="card-img-top" src="assets/pikachu.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Sheng pikachu</p>
          </div>
        </div>

        <div class="card" style="width: 13rem;">
          <img class="card-img-top" src="assets/pikachu.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Andrei Pikachu</p>
          </div>
        </div>

        <div class="card" style="width: 13rem;">
          <img class="card-img-top" src="assets/pikachu.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Rocky pikachu</p>
          </div>
        </div>
      </div>
    </div>
    <div class="group-saved-rooms group-section">
      <h3>Saved Rooms</h3>
      <div class="card-containers">
        <div class="card" style="width: 13rem;">
          <img class="card-img-top" src="assets/pikachu.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Room Name: HenryRoom1</p>
          </div>
        </div>

        <div class="card" style="width: 13rem;">
          <img class="card-img-top" src="assets/pikachu.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Room name: Sushi ROOM 1</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
