.dropdown-account-header{
  padding: 10px;
}
.account-name {
  font-weight: bold;
}

a {
  cursor: pointer;
}

.profile-dropdown-button {
  background-color: transparent;
  border: 0px;
}

.nav-item {
  border-radius: 5px;
}

.nav-item:hover {
  background-color: black;
}
