<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
  <a routerLink="/landing-page" routerLinkActive="active" class="navbar-brand">Vus</a>

  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="vusNavigationBar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="vusNavigationBar" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a routerLink="/lobby" routerLinkActive="active" class="nav-link" title="Search For Enviornments">
          <i class="fa fa-street-view" aria-hidden="true"></i> Enviornments
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" title="Enter VR Experience">
          <i class="fa fa-sign-in" aria-hidden="true"></i>  Developers
        </a>
      </li>

      <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle profile-dropdown-button" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" title="user profile">
          <i class="fa fa-user-circle-o" aria-hidden="true" style="color:white"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <div class="dropdown-account-header">
            <div class="account-name">Henry Chen</div>
            <div class="account-email">henry@gmail.com</div>
          </div>
          <div class="dropdown-divider"></div>
          <a routerLink="/user-group" class="dropdown-item">
            View Current Group
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Edit User Profile</a>
          <a routerLink="/user-environment" class="dropdown-item">
            View Uploaded Environments
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Sign Out</a>
        </div>
      </li>

      <li class="nav-item">
        <a routerLink="/sign-in" routerLinkActive="active" class="nav-link">Sign In</a>
      </li>
    </ul>
  </div>
</nav>
