<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <span class="navbar-brand" href="#">Navbar</span>

  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a routerLink="/lobby" routerLinkActive="active" class="nav-link">Enter VR Experience</a>
      </li>
      <li class="nav-item">
        <a routerLink="/user-group" routerLinkActive="active" class="nav-link">View Group</a>
      </li>
      <li class="nav-item">
        <a routerLink="/user-environment" routerLinkActive="active" class="nav-link">View User Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sign-in" routerLinkActive="active" class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>
